<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="other" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender>

    <appender name="our" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="info"/>
        <appender-ref ref="other"/>
    </root>

    <logger name="com.peterdkahn" additivity="false">
        <appender-ref ref="our" level="debug"/>
    </logger>


</configuration>